<body>
<h1>Calculadora</h1>
<form [formGroup]="form">
  <ul formArrayName="visores" *ngFor="let resultado of visores; let i = index;">
    <li formControlName="{{i}}">
      <app-visor [valor]="form.get(['visores', i])!.value" class="visor-resultado"></app-visor>
    </li>
  </ul>
</form>

<input type="text" [(ngModel)]="input" class="input">

<div class="div-numeros">
  <app-botao [escrito]="'0'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'1'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'2'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'3'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'4'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'5'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'6'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'7'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'8'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'9'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'.'" (saida)="btnNumberClicked($event)"></app-botao>

  <app-botao [escrito]="'%'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'+'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'-'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'/'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'*'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'('" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="')'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'x²'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'√'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'⌫'" (saida)="btnActionClicked($event)"></app-botao>

  <app-botao [escrito]="'='" (saida)="btnEqualClicked($event)"></app-botao>
</div>

</body>
