<body>
<h1>Calculadora</h1>
<form [formGroup]="form" style="border: solid antiquewhite; width: 40vw">
  <ul class="list" formArrayName="history" *ngFor="let history of historyValues; let i = index;">
    <li class="list" *ngIf="form.get(['history', i])!.value" formControlName="{{i}}">
      <app-visor [valor]="historyValueByIndex(i)" class="visor-resultado"></app-visor>
    </li>
  </ul>
</form>

<input type="text" [(ngModel)]="input" class="input">

<div class="div-numeros">
  <app-botao [escrito]="'0'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'1'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'2'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'3'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'4'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'5'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'6'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'7'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'8'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'9'" (saida)="btnNumberClicked($event)"></app-botao>
  <app-botao [escrito]="'.'" (saida)="btnNumberClicked($event)"></app-botao>

  <app-botao [escrito]="'%'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'+'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'-'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'/'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'*'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'('" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="')'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'x²'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'√'" (saida)="btnActionClicked($event)"></app-botao>
  <app-botao [escrito]="'⌫'" (saida)="btnActionClicked($event)"></app-botao>

  <app-botao [escrito]="'='" (saida)="btnEqualsClicked()"></app-botao>
  <app-botao [escrito]="'C'" (saida)="btnClearClicked()"></app-botao>
</div>

</body>
