<body>

<h1>Calculadora</h1>

<div class="wrapper-results" *ngFor="let resultado of results">
  <p>{{resultado.input}}</p>
  <p>=</p>
  <p>{{resultado.output}}</p>
</div>

<input type="text" [(ngModel)]="input" class="input">

<div class="div-numeros">
  <button (click)="btnNumberClicked($event.target)">0</button>
  <button (click)="btnNumberClicked($event.target)">1</button>
  <button (click)="btnNumberClicked($event.target)">2</button>
  <button (click)="btnNumberClicked($event.target)">3</button>
  <button (click)="btnNumberClicked($event.target)">4</button>
  <button (click)="btnNumberClicked($event.target)">5</button>
  <button (click)="btnNumberClicked($event.target)">6</button>
  <button (click)="btnNumberClicked($event.target)">7</button>
  <button (click)="btnNumberClicked($event.target)">8</button>
  <button (click)="btnNumberClicked($event.target)">9</button>

  <button (click)="btnActionClicked($event.target)">+</button>
  <button (click)="btnActionClicked($event.target)">-</button>
  <button (click)="btnActionClicked($event.target)">*</button>
  <button (click)="btnActionClicked($event.target)">/</button>

  <button (click)="btnActionClicked($event.target)">%</button>

  <button (click)="btnActionClicked($event.target)">(</button>
  <button (click)="btnActionClicked($event.target)">)</button>

  <button (click)="btnActionClicked($event.target)">x²</button>
  <button (click)="btnActionClicked($event.target)">⌫</button>
  <button (click)="btnActionClicked($event.target)">√</button>

  <button (click)="btnClearClicked()">C</button>

  <button (click)="btnEqualsClicked()">=</button>
</div>

</body>
